* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  background-color: #f7f6ff;
}

.container .header {
  height: 85px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .header-logo {
  height: 70px;
  width: 325px;
  background-color: black;
  background-image: url("../img/logo.png");
}

.container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  width: 385px;
}

.container .header a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.container .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  width: 205px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f32c6d), to(#cb1d95));
  background: linear-gradient(#f32c6d, #cb1d95);
  border-radius: 9px;
  border-color: black;
  border-style: inset;
  border-width: 1px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.container .first_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  height: 325px;
  margin-top: 85px;
  background-color: #cb1d95;
}
