* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    background-color: #f7f6ff;
    .header {
        height: 85px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &-logo {
            height: 70px;
            width: 325px;
            background-color: black;
            background-image: url("../img/logo.png");
        }
        .header-menu {
            display: flex;
            justify-content: space-between;
        }
        .header-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 54px;
            width: 205px;
            background: linear-gradient(#f32c6d, #cb1d95);
            // background: linear-gradient(#F32C6D #CB1D95);
            border-radius: 9px;
            border-color: black;
            border-style: inset;
            border-width: 1px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
