@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope/static/Manrope-SemiBold.ttf");
    // font-family: "manrope-bold";
    // src:url("..//fonts/Manrope/static/Manrope-Bold.ttf");
    // font-family: "manrope-semibold";
    // src: url("../fonts/Manrope/static/Manrope-SemiBold.ttf");
}
@font-face {
    font-family: "manrope-extra-bold";
    src: url("../fonts/Manrope/static/Manrope-ExtraBold.ttf");
    // font-family: "manrope-bold";
    // src:url("..//fonts/Manrope/static/Manrope-Bold.ttf");
    // font-family: "manrope-semibold";
    // src: url("../fonts/Manrope/static/Manrope-SemiBold.ttf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1400px;
    height: 100%;
    margin: 0 auto;
    background-color: #f7f6ff;

    .header {
        height: 85px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);

        &-wrapper {
            width: 1200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-logo {
                width: 325px;
                height: 70px;
                // top: 8px;
                background-image: url("../img/logo.png");
            }
            &-menu {
                display: flex;
                justify-content: space-between;
                height: 24px;
                width: 385px;
                // position: absolute;
                width: 385px;
                height: 24px;

                a {
                    text-decoration: none;
                    font-family: "manrope";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #333333;
                }
            }

            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 54px;
                width: 205px;
                background: linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
                border-radius: 9px;
                font-family: "Manrope";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: #fff;
            }
        }
    }

    .first-screen {
        display: flex;
        // align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 1200px;
        height: 326px;
        margin-top: 82px;
        // border: 1px solid #000;

        .disign-studio {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // flex-grow: 1;
            width: 517px;
            height: 127px;

            .text-1 {
                font-family: "manrope";
                font-style: normal;
                font-weight: 800;
                font-size: 45px;
                line-height: 65px;
                color: #333333;
            }
            .text-2 {
                font-family: "manrope";
                font-style: normal;
                font-weight: 500;
                font-size: 55px;
                line-height: 65px;
                color: #333333;
            }
            .text-3 {
                margin-top: 14px;
                display: flex;
                flex-grow: 1;
                font-family: "manrope";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
            }
        }

        .btns {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            flex-grow: 1;

            .btn-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                // height: 54px;
                // width: 241px;
            }

            .btn-2 {
                margin: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                // height: 54px;
                // width: 114px;
            }

            .btn-3 {
                display: flex;
                justify-content: center;
                align-items: center;
                // height: 54px;
                // width: 141px;
            }
            .btn-1,
            .btn-2,
            .btn-3 {
                background-color: #77b2d3;
                border-radius: 250px;
                font-family: "Manrope";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: #fff;
                padding: 14px 30px;
            }
        }
        .fs-img {
            width: 537px;
            height: 325px;
            display: flex;
        }
    }
    .numbers {
        width: 1200px;
        height: 255px;
        // border: 1px solid #000;
        display: flex;
        margin-top: 90px;
        flex-direction: column;
        background: #ffffff;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        justify-content: space-around;

        .head-bisness {
            height: 48px;
            margin-top: 40px;
            margin-left: 55px;
            font-family: "manrope";
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 48px;
        }
        .groups {
            display: flex;
            justify-content: space-around;
            .group-1,
            .group-2,
            .group-3,
            .group-4 {
                display: flex;
                font-family: "manrope-extra-bold";
                font-style: normal;
                background: linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                display: flex;
                font-weight: 800px;
                font-size: 50px;
                line-height: 48px;
            }
            .group-1 {
                // margin-left: 55px;
                display: flex;
            }
            // .regular {
            //     display: flex;
            //     flex-direction: column;
            //     font-family: "manrope";
            //     font-style: normal;
            //     font-weight: 500;
            //     font-size: 16px;
            //     line-height: 24px;
            // }
            .small-font {
                display: flex;
                margin: 8px 5px;
                justify-content: space-between;
                font-size: 30px;
                line-height: 48px;
            }
            .line-1,
            .line-2,
            .line-3 {
                display: flex;
                border: 1px solid #c7c7c7;
                height: 85px;
            }
        }
    }
}
